.auth-nav{
    display: flex;
    margin-left: 99px;

    & li+li{
        margin-left: 40px;
    }

    @media screen and(max-width: 1140px) {
        display: none;
    }
}

.search-icon{
    position: relative;
    overflow: hidden;
}

.search-icon .zoom,
.search-icon .arrow{
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 16px;

    transition: transform 350ms ease-in;
}

.search-icon .arrow{
    position: absolute;
    left: 0;
    top: 17px;

    transform: translateY(40px);
}

.search-icon:hover .zoom{
    transform: translateY(-40px);
}

.search-icon:hover .arrow{
    transform: translateY(0);
}

.registration{
    display: inline-flex;
    align-items: center;
}

.men-icon{
    width: 16px;
    height: 16px;
    margin-left: 40px;
}

.heart-icon{
    width: 17px; 
    height: 15px;
    margin-left: 26px;
}

.registration .heart-icon,
.registration .men-icon{
    fill: #fff;
    transition: fill 300ms ease-in;
}

.registration:hover .heart-icon,
.registration:hover .men-icon{
    fill: rgb(182, 182, 182);
}

