.auth-nav{
    display: flex;
    margin-left: 99px;

    & li+li{
        margin-left: 40px;
    }

}



.search-icon{
    position: relative;
    overflow: hidden;
}

.search-icon::before,
.search-icon::after{
    content:"";

    width: 18px;
    height: 18px;
    margin-right: 16px;

    background-size: contain;
    transition: transform 350ms ease-in;
}

.search-icon::before{
    background-image: url(../image/pseudo/zoom.svg);
}

.search-icon::after{
    position: absolute;
    left: 0;
    top: 17px;

    background-image: url(../image/pseudo/arrow.svg);
    transform: translateY(40px);
}

.search-icon:hover::before{
    transform: translateY(-40px);
}

.search-icon:hover::after{
    transform: translateY(0);
}

.registration{
    display: inline-flex;
    align-items: center;
}

.men-icon{
    width: 16px;
    height: 16px;
    margin-left: 40px;
}

.heart-icon{
    width: 17px; 
    height: 15px;
    margin-left: 26px;
}

.registration path{
    transition: fill 300ms ease-in;
}

.registration:hover path{
    fill: rgb(182, 182, 182);
}