.blog-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.article-list{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
    
    & > li:not(:last-child){
        margin-bottom: 30px;

        @media screen and (min-width: 1140px){
            margin-bottom: 0;
        }
    }

    & a{
        display: inline-block;
        max-width: 350px;
        height: 370px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 248px;

    
        color: $second-color;
        background-color: $main-color;
    
        font-size: 21px;
        line-height: 1.4;
    
        background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/manCufflincs1x.jpg);
        background-size: cover;
        background-position: center;

        @media screen and (min-width: 325px){
        padding-right: 71px;
        padding-left: 71px;
        }

        @media screen and (min-width: 1140px){
            width: 350px;
            height: 370px;
        }

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
            background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/manCufflincs2x.jpg);
        }
    
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx){
            background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/manCufflincs3x.jpg);
        }
    }

    @media screen and (min-width: 1140px){
        display: flex;
    }

}

.article-list>:first-child a{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/wifeWatches1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
        background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/wifeWatches2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx){
        background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/wifeWatches3x.jpg);
    }
}

.article-list>:last-child a{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/weedingRings1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
        background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/weedingRings2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx){
        background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/wedding/weedingRings3x.jpg);
    }
}
