.catalog-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.category-list{
    display: none;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-bottom: 55px;

    & a{
        display: inline-block;
        width: 165px;
        padding-top: 17px;
        padding-bottom: 17px;
        outline: 1px solid $main-color;
        margin: 10px;
    
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    
        box-shadow: 3px 3px $bg-color, 4px 4px $main-color;
        
        transition: background-color 250ms ease-in,
        color 250ms ease-in 220ms;

        &:hover,
        &:focus{
            padding-bottom: 21px;
            width: 169px;
            margin-bottom:6px;
            margin-right: 6px;
            border:none;
            background-color: $main-color;
            color: $second-color;
            box-shadow: none;
        }

    }

    @media screen and (min-width: 1140px){
        display: flex;
        width: 1110px;
    }

    
}



.catalog-list{
    display: block;
    flex-wrap: wrap;
    margin: -15px;

    & a{
        display: block;
        max-width: 350px;
        max-height: 280px;
        padding-top: 222px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
        color: $second-color;
        background-color: $main-color;
    
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @media screen and (min-width: 1140px){
            width: 350px;
            height: 370px;
            margin: 15px;
        }
    }

    @media screen and (min-width: 1140px){
        display: flex;
    }

}


.rings{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/catalogue/rings.jpg);
    background-size: cover;
    background-position: center;
}

.earrings{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/catalogue/earrings.jpg);
    background-size: cover;
    background-position: center;
}

.pendants{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/catalogue/pendants.jpg);
    background-size: cover;
    background-position: center;
}

.cufflinks{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/catalogue/cufflinks.jpg);
    background-size: cover;
    background-position: center;
}

.bracelets{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/catalogue/bracelets.jpg);
    background-size: cover;
    background-position: center;
}

.watches{
    background-image: linear-gradient(to top, rgba(51, 51, 51, 1), rgba(180, 180, 180, 0)), url(../image/catalogue/watches.jpg);
    background-size: cover;
    background-position: center;
}