.footer-section{
    padding-top: 80px;
}

.footer-list{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;

    &>li{
        width: 255px;
        text-align: left;
    }

    @media screen and (min-width: 600px) {
        display: flex;
        width: 570px;
    }

    @media screen and (min-width: 1140px) {
        width: 1110px;
    }
}

.footer-title{
    display: inline-block;
    width: 255px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid $main-color;

    font-family: railway;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @media screen and (max-width:425px){
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.double-list>li+li{
    margin-top: 15px;
}

.credit{
    display: flex;
    & > img {
        width: 45px;
        height: 30px;
    }

    &>img+img{
        margin-left: 20px;
    }

}

.phone{
    display: flex;
    align-items: center;

    & > .phone-icon{
        margin-right: 20px;
    }
    

}

.mail{
    display: flex;
    align-items: center;

    & > .mail-icon{
        margin-right: 21px;
    }

}

.profiles{
    display: flex;
    align-items: center;

    &>li+li{
        margin-left: 25px;
    }

}

.last-line{
    display: block;
    justify-content: space-between;
    border-top: 1px solid $main-color;

    @media screen and (min-width:1140px) {
        display: flex;
    }
}

.icons-fill{
    fill: #333333;
}