.header-section{
    margin-bottom: 250px;
    padding-top: 27px;
}

.header{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;

    @media screen and(max-width: 426px) {  
        justify-content: space-around;
        width: 100%;
        }

    @media screen and(min-width: 1140px) { 
        flex-direction: row;
        margin-bottom: 523px;
    }
}