.hero-section{
    background-color: $main-color;
    padding-bottom: 119px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(../image/background/bgc1x.jpg);
    background-position: center;
    background-size: cover;
    max-width: 1920px;

    @media screen and (min-width:1140px) {
        padding-bottom: 30px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(../image/background/bgc2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx){
        background-image: linear-gradient(rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(../image/background/bgc3x.jpg);
    }
}

.hero-title{
    color: $second-color;
    
    font-family: noto-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.36;
    margin-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (min-width:1140px) {
      .line{
        padding-bottom: 80px; 
        margin-bottom: 30px;
        border-bottom: 1px solid $second-color; 
    }  
}

.partners{
    display: none;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;

    & > li{
        display: inline-block;
        padding-right: 14.5px;
        margin-right: 14.5px;
        border-right: 1px solid $second-color;    
        
        &:last-child{
            padding-right: 0;
            margin-right: 0;
            border: none;
        }

    }

    @media screen and(min-width: 1140px) {
        display: flex;
    }
}