.post-section{
    padding-top: 100px;
    padding-bottom: 120px;

    color: $second-color;
    background-color: $main-color;

    background-image: url(../image/background/background2.jpg);
}

.mail-container{
    display: flex;
    align-items: flex-start;
    width: 773px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    &>ul{
        list-style: url(../image/pseudo/triangle.svg);
    }

    & .text{
        margin-bottom: 15px;
        padding-left: 20px;
        text-align: left;
    }

    &>div{
        width: 448px;
        border: 1px solid $second-color;
    }

}

.form{
    display: flex;
    align-items: center;
    margin: 14px 15px;
    padding: 20px 22px;
    background-color: $second-color;

    &>input{
        width: 200px;
        height: 45px;
        margin-right: 15px;
        padding-left: 20px;
        border: 1px solid rgba(214, 214, 214, 1);
    }

}

