.shop-section{
    padding-top: 100px;
    padding-bottom: 100px;

    color: $second-color;
    background-color: $main-color;
    
    background-image: url(../image/background/background1x.jpg);
    background-position: center;
    background-size: cover;

    & .text{
        margin-bottom: 60px;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
        background-image: url(../image/background/background2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx){
        background-image: url(../image/background/background3x.jpg);
    }
}