.social-section{
    display: none;
    padding-bottom: 150px;

    @media screen and (min-width: 1140px){
        display: block;
    }
}

.social-list{
    display: flex;
    flex-wrap: wrap;
}

.gradient {
	position: relative;    
	overflow: hidden;

    &::after {
        position: absolute;
        top: 0;    
        left: 0;   
        transform: translateX(-100%);
    
        content: "";
        display: none;
        width: 100%;
        height: 100%;    
        
        background-color: rgba(51, 51, 51, 0.4);    
        pointer-events: none;
        transition: transform 350ms ease-in;

        @media screen and (min-width:1140px) {
            display: block;
        }
    }

}

.gradient:hover::after{
    transform: translateX(0);
}